body {
  text-align: center;
}
table   {
  border-collapse: collapse;
  /* border: 1px solid black; */
  width: 700px;
  margin: auto;
} 
table  th {
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(115, 239, 115);
}
table  td {
  border: 1px solid black;
  padding: 5px;
}
td:first-child {
  text-align: center;
}
input {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid black;
  outline: none;
}
input:focus {
  border: 1px solid rgb(1, 113, 1);

}
button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #6d6d6d;
  background-color: white;
}
button:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.del, .edit, .update {
  border: 1px solid #6d6d6d;
  padding: 4px 10px;
  padding: 0px 10px;
  border-radius: 5px;
  font-size:1.6rem;
}
h2 {
  margin: 10px 0;
  font-size: 2.2rem;
}